[user]
	email = caique.flima@gmail.com
	name = Caique Lima

[core]
    excludesfile = ~/.gitignore

[web]
    browser = google-chrome

[color]
    ui = auto

[push]
    default = simple

[apply]
    whitespace = nowarn
