[user]
	email = caique.flima@gmail.com
	name = Caique Lima

[core]
    excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[gpg]
    program = /usr/local/bin/gpg

[web]
    browser = google-chrome

[color]
    ui = auto

[push]
    default = simple

[apply]
    whitespace = nowarn


